@font-face {
    font-family: F1_classic;
    src: url(/src/public/fonts/Formula1-Regular_web_0.ttf);
  }

h1 {
    font-family: F1_classic;
}

@font-face {
    font-family: F1_bold;
    src: url(/src/public/fonts/Formula1-Bold_web.ttf);
}

.bold {
    font-family: F1_bold;
}

@font-face{
    font-family: F1_wide;
    src: url(/src/public/fonts/Formula1-Wide.ttf)
}

.wide {
    font-family: F1_wide;
}

body {
    font-family: 'F1_classic' !important;
}